<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
    <link rel="icon" type="image/x-icon" href="/images/infinity.ico">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/javascripts/additional-methods.js"></script>
    <script type="text/javascript" src="/javascripts/errormessage.js"></script>
    <script type="text/javascript">
      function revoke(){
        console.log('hjahahh');
        document.getElementById('login_form').style.display = "none";
        document.getElementById('register_form').style.display = "block";
      }
    </script>
  </head>
  <body>
    <div class="container">
      <img class="logo" src="/images/infinity.png"/>
      <div class="form row">
        <form id="login_form" class="form-horizontal col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6" action="/login" method="post">
          <input name="clientId" type="hidden" value=<%= clientId %> />
          <h3 class="col-sm-12 col-md-12 form-title">认证登录</h3>
          <div class="col-sm-12 col-sm-12 col-md-12">
            <div class="form-group">
              <input class="form-control required" type="text" placeholder="用户名" name='username' autofocus="autofocus" maxlength="20" />
            </div>
            <div class="form-group">
              <input class="form-control required" type="password" placeholder="密码" name='password' maxlength="12" />
            </div>
            <div class="form-group">
              <a class="btn btn-success pull-left half_block" onclick="revoke()">注册</a>
              <input class="btn btn-success pull-right half_block" type="submit" value="登录" />
            </div>
            <% if (locals.message) { %>
              <h4 class="col-sm-12 col-md-12 errormessage"><%= message %></h4>
            <% } locals.message = []; %>
          </div>
        </form>
        <form id="register_form" style="display:none" class="form-horizontal col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6" action="/register" method="post">
          <input name="clientId" type="hidden" value=<%= clientId %> />
          <h3 class="col-sm-12 col-md-12 form-title">用户注册</h3>
          <div class="col-sm-12 col-sm-12 col-md-12">
            <div class="form-group">
              <input class="form-control required" type="text" placeholder="用户名" name='username' autofocus="autofocus" maxlength="20" />
            </div>
            <div class="form-group">
              <input class="form-control required" type="text" placeholder="真实姓名" name="truename" maxlength="20" />
            </div>
            <div class="form-group">
              <input class="form-control required" id="password" type="password" placeholder="密码" name='password' maxlength="12" />
            </div>
            <div class="form-group">
              <input class="form-control required" type="password" placeholder="确认密码" name="rpassword" maxlength="12" />
            </div>
            <div class="form-group">
              <input class="btn btn-success btn-block" type="submit" value="注册" />
            </div>
            <% if (locals.message) { %>
              <h4 class="col-sm-12 col-md-12 errormessage"><%= message %></h4>
            <% } locals.message = [];%>
          </div>
        </form>
        <% if(locals.register) { %>
          <script type="text/javascript">
              document.getElementById('login_form').style.display = "none";
              document.getElementById('register_form').style.display = "block";
          </script>
        <% } %>
      </div>
    </div>
  </body>
</html>
