body {
  background-color: #2196F3;
}
.white{
  background-color: white;
}
.bg-myprimary{
  background-color: #2196F3;
  color: white;
}
.left{
  float: left;
}
.right{
  float: right;
}
.navicon{
  max-height: 100%;
  width:auto;
  float:left;
}
.max-height{
  max-height: 50px;
}
.nav-line{
  line-height: 50px;
  float:left;
  font-size: 18px;
}
.nav-form{
  float: left;
}
.my-btn{
  margin-left: 10px;
  height:36px;
  margin-top:7px;
}
.red{
  color: red;
}
.auth-block{
  margin-top: 15%;
  height: 200px;
  background-color: #2196F3;
  color: white;
  font-weight: bold;
  padding: 20px;
  border:2px solid;
  border-radius:15px;
  box-shadow: 5px 5px 5px #888888;
}
.posi{
  margin-top: 30px;
}
.logo{
  display:block;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:15%;
  max-width:12%;
  height:auto;
}
.form{
  max-width:600px;
  margin:10px auto;
}
.form-title{
  text-align:center;
}
.half_block{
  width:48%;
}
.errormessage{
  text-align:center;
  color:red;
}
.left-icon{
  max-width: 100%;
  height: auto;
  overflow: hidden;
}
.app{
  margin-top: 30px;
  padding-top: 0px;
  border-radius:5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.hint{
  margin-top: 20px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius:5px;
}
.hint-text{
    line-height: 120%;
    font-weight: bold;
    color:#FF3333 ;
}
.line-button{
  height:50px;
  min-width: 80px;
  text-align: center;
  width:auto;
  border-radius:5px;
}
.drop-line{
  font-size:16px;
}
#dropdownMenu:hover,.open{
  background-color: #2184F3;
}
.circle{
  border-radius:5px;
}
